@charset "utf-8";

body{
    background-image: url(/background.jpg);
    background-size: cover;   
}

body h1{
    font-size: 55px;
    text-align: center;
}

body p{
    font-size: 20px;
}

#operadora p{
    font-weight: bold;
}

#operadora input{
    margin-right: 3px;
}

#filme0 {
    margin-left: 25px;
}

#procedimento{
    margin-top: 50px;
}

#procedimento p{
    font-weight: bold;
}

#procedimento input{
    margin-top: 3px;
}
footer {
    text-align: center ;
    position: fixed;
    bottom: 0;
    width: 100%;
}
